{% trans_default_domain 'FOSUserBundle' %}
<h1>Edit user profile</h1>
<div class="sc-form">

<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
</form>

</div>