services:

    issueImporterService:
        class: DFKI\ScorecardBundle\Services\IssueImporter
        arguments: ["@doctrine.orm.entity_manager"]
        
    projectService:
        class: DFKI\ScorecardBundle\Services\ProjectService
        arguments: ["@doctrine.orm.entity_manager", "@security.context", "@exercise_html_purifier.default", "@issueImporterService"]
         
    editorService:
        class: DFKI\ScorecardBundle\Services\EditorService
        arguments: ["@doctrine.orm.entity_manager"]

    dfki_user.registration.form.type:
        class: DFKI\ScorecardBundle\Form\Type\RegistrationFormType
        tags:
            - { name: form.type, alias: dfki_user_registration }
            
    dfki_user.profile.form.type:
        class: DFKI\ScorecardBundle\Form\Type\ProfileFormType
        tags:
            - { name: form.type, alias: dfki_user_profile }
            
    security.access.project_voter:
        class:      DFKI\ScorecardBundle\Security\Authorization\Voter\ProjectVoter
        public:     false
        tags:
           - { name: security.voter }