<h2>About</h2>
<p>Source code for the MQM Scorecard is available from <a href="https://github.com/multidimensionalquality/qt21-scorecard/" target="_blank">https://github.com/multidimensionalquality/qt21-scorecard/</a>. The MQM Scorecard is an implementation of the <a href="http://qt21.eu/mqm-definition">Multidimensional Quality Metrics (MQM) framework</a> for quality assessment. It provides an easy-to-use interface to conduct segment-based review of translated documents.</p>
<h3>The development team</h3>
<p>The MQM Scorecard has been developed in a collaboration between the German Research Center for Artificial Intelligence (DFKI) GMbH, the Brigham Young University Translation Research Group (BYU TRG), and LTAC Global.</p>
		<div style="text-align:center;padding:12px 0px 12px 0px;">
			{% image '@DFKIScorecardBundle/Resources/public/images/contributor-logos.png' %} <img height="164" width="793" alt="[DFKI, BYU TRG, and LTAC logos]" src="{{ asset_url }}" style="border:1px solid black;text-align:center;" /> {% endimage %}
		</div>
<p>For purposes of copyright, DFKI GMbH is the owner of this work. The Scorecard is published under the <a href="https://github.com/multidimensionalquality/qt21-scorecard/blob/master/LICENSE.txt" target="_blank">Apache 2.0 License</a> on <a href="https://github.com/multidimensionalquality/qt21-scorecard/" target="_blank">GitHub</a>.
<h3>Supporters</h3>
<p>Special thanks to the Caribbean Regional Information and Translation Institute (CRITI) which has generously supported development of the MQM scorecard.</p>
		<div style="text-align:center;padding:12px 0px 12px 0px;">
			{% image '@DFKIScorecardBundle/Resources/public/images/criti-logo.png' %} <img height="131" width="400" alt="[CRITI logo]" src="{{ asset_url }}" style="border:1px solid black;text-align:center;" /> {% endimage %}
		</div>
<h3>Contact</h3>
<p>Bugs and feature requests should be made via the MQM Scorecard project’s <a href="https://github.com/multidimensionalquality/qt21-scorecard/issues" target="_blank">bug tracker</a>. General inquiries can be sent to <a href="mailto:info@tranquality.info">info@tranquality.info</a>.</p>