{% extends 'DFKIScorecardBundle::base.html.twig' %} {% block title
%}Profile{% endblock %} {% block body %}
<h1>Profile</h1>

<div class="sc-form">{{ form_start(form) }} {{ form_widget(form) }} {{
	form_end(form) }}</div>
{% endblock %}
