{% extends 'DFKIScorecardBundle::base.html.twig' %} {% block title
%}Create project{% endblock %} {% block body %}
<h1>Create project</h1>

<form action="{{ path('sc_post_project') }}" method="post"
	enctype="multipart/form-data" id="file-submitter">
	<table class="sctable">
		<tr class="color">
			<td width="200">Project name</td>
			<td><input type="text" name="project_name" required />
		
		</tr>
		<tr>
			<td>Bi-text file (tab-delimited, UTF-8</td>
			<td><input name="file" id="file" type="file" required ></td>
		</tr>
		<tr class="color">
			<td>Specifications file (optional)</td>
			<td><input name="specificationFile" id="specificationFile"
				type="file"></td>
		</tr>
                <tr>
			<td>Metrics file</td>
			<td><input name="metric" id="metric" type="file" required></td>
		</tr>
		<tr class="color">
			<td colspan="2"><input name="submit" value="Submit" type="submit"></td>
		</tr>
	</table>
</form>

<div style="clear: both;"></div>
{% endblock %}
